@charset "utf-8";

/** 
 * ==================================================
 * B-LEARNING FONTS
 * --------------------------------------------------
 * @project: B-learning Curso de Experto 2012/2013
 *  @author: Fernando Calés Valencia
 *    @file: fonts.css
 *    @type: Modules, Partials & Components
 * ==================================================
 **/

/* [Midiet] - Midiet Sans Light */
@font-face {
	font-family:'MidietSansLight';
	src: url('../fonts/MidietSansLight.eot');
	src: url('../fonts/MidietSansLight.eot?#iefix') format('embedded-opentype'),
		 url("../fonts/MidietSansLight.otf")  format("opentype"),
		 url('../fonts/MidietSansLight.ttf')  format('truetype'),
		 url('../fonts/MidietSansLight.svg#MidietSansLight') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* [Midiet] - Midiet Sans Medium */
@font-face {
	font-family:'MidietSansMedium';
	src: url('../fonts/MidietSansMedium.eot');
	src: url('../fonts/MidietSansMedium.eot?#iefix') format('embedded-opentype'),
		 url("../fonts/MidietSansMedium.otf")  format("opentype"),
		 url('../fonts/MidietSansMedium.ttf')  format('truetype'),
		 url('../fonts/MidietSansMedium.svg#MidietSansMedium') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* [Midiet] - Midiet Sans Italic Light */
@font-face {
	font-family:'MidietSansItalicLight';
	src: url('../fonts/MidietSansItalicLight.eot');
	src: url('../fonts/MidietSansItalicLight.eot?#iefix') format('embedded-opentype'),
		 url("../fonts/MidietSansItalicLight.otf")  format("opentype"),
		 url('../fonts/MidietSansItalicLight.ttf')  format('truetype'),
		 url('../fonts/MidietSansItalicLight.svg#MidietSansItalicLight') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* [Midiet] - Midiet Sans Italic Medium */
@font-face {
	font-family:'MidietSansItalicMedium';
	src: url('../fonts/MidietSansItalicMedium.eot');
	src: url('../fonts/MidietSansItalicMedium.eot?#iefix') format('embedded-opentype'),
		 url("../fonts/MidietSansItalicMedium.otf")  format("opentype"),
		 url('../fonts/MidietSansItalicMedium.ttf')  format('truetype'),
		 url('../fonts/MidietSansItalicMedium.svg#MidietSansItalicMedium') format('svg');
	font-weight:normal;
	font-style:normal;
}
